.cctv_box img{
    width: 650px;
    height: 380px;
}

.containerr {
    width: 80%;
    margin: 40px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.stamp {
    text-align: center;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.service-section {
    margin-bottom: 30px;
    background-color: #f4f3f3;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.service-title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: black;
    font-weight: bolder;
    margin-bottom: 10px;
    padding-top:15px;
    position: relative;
    padding-left: 40px;
}



.service-description {
    font-size: 1.1em;
    line-height: 1.9;
    color: #666;
    padding-left: 40px;
    border-left: 3px solid red;
    margin-bottom: 25px;
}

.service-description i {
    color: red;
    margin-right: 8px;
    font-size:30px;
}

/* Hover Effects */
.service-section:hover {
    background-color: #e7e7e7;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}